
body {
	font-family: Helvetica, Arial, sans-serif;
	color: #FFF;
}

div#wrapper {
	width: 1002px;
	margin: 0 auto;
}

h1 {
	font-size: 2.3em;
	font-family: Minion, Georgia, serif;
	line-height: .8;
/*	margin-bottom: 0;*/
}

h1#title {
	color: gray;
	text-align: center; 
}

#artbasel h1 {
	color: pink;
}

#artbasel h3 {
	color: yellow;
}

#miamispice {
	color: black;
}

#miamispice h1 {
	color: red;
}

#miamispice h3 {
	color: green;
}

img {
	width: 100%;
}

section {
	position: relative;
	width: 100%;
}

article {
	position: absolute;
	top: 30px;
	left: 300px;
	width:50%;

}

#miamispice article {
	position: absolute;
	top: 100px;
	left: 475px;
	width: 47%;
}

footer {
	background-color: #000;
	text-align: center;
	padding: 20px 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

a:link, a:visited, a:hover,a:active {
	color: #FFF;
	text-decoration: none;

}

a:hover,a:active {
	color: #FFF;
	text-decoration: underline;
}