@font-face {
    font-family: 'aaarghnormal';
    src: url('fonts/Aaargh-webfont.eot');
    src: url('fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aaargh-webfont.woff') format('woff'),
         url('fonts/Aaargh-webfont.ttf') format('truetype'),
         url('fonts/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

p {
	font-family: 'aaarghnormal';
}